@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Inter';
}

.line {
    height: 1px;
    border: none;
    background-color: hsl(228, 28%, 20%);
}

input[type="checkbox"] {
  width: 0;
  height: 0;
  visibility: hidden;
}

.label {
  width: 60px;
  height: 30px;
  display: block;
  background-image: linear-gradient(to right, hsl(210, 78%, 56%), hsl(146, 68%, 55%) );
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: 0.5s;

}

.label::after {
  content: "";
  width: 25px;
  height: 25px;
  background-color: hsl(232, 19%, 15%);
  position: absolute;
  border-radius: 100%;
  top: 2px;
  left: 2px;
  transition: 0.5s;
}

input:checked + .label::after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

